/* CSS Reset */
/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* Prevent font size inflation */
html {
  -moz-text-size-adjust: none;
  -webkit-text-size-adjust: none;
  text-size-adjust: none;
}

ul[role="list"],
ol[role="list"] {
  list-style: none;
}

body {
  min-height: 100vh;
  line-height: 1.5;
}

h1,
h2,
h3,
h4,
button,
input,
label {
  line-height: 1.1;
}

a:not([class]) {
  text-decoration-skip-ink: auto;
  color: currentColor;
}

img,
picture {
  max-width: 100%;
  display: block;
}

input,
button,
textarea,
select {
  font-family: inherit;
  font-size: inherit;
}

textarea:not([rows]) {
  min-height: 10em;
}

:target {
  scroll-margin-block: 5ex;
}
/* CSS Reset */

/* Body */
body {
  font-family: "Work Sans", sans-serif;
  background-color: #f8eeff;
}

/* Main */
main {
  position: relative;
  min-height: 100vh;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  padding-block: 20vh 2.5rem;
}

.banner-img {
  position: absolute;
  top: 0;
  width: 100vw;
  height: 33vh;
  object-fit: cover;
  z-index: -1;
}

/* FAQ Container */
.faq-container {
  background-color: #fff;
  padding: 2.5rem;
  border-radius: 1rem;
  max-width: 37.5rem;
  width: 100%;
  box-shadow: 0 0 25px rgba(139, 105, 144, 0.25);
  margin-inline: 1.5rem;
}

/* Container Contents */
.main-heading {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.main-heading h1 {
  font-size: 3.5rem;
  color: #301534;
}

.sub-heading {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 1rem;
  margin-bottom: 0.5rem;
  cursor: pointer;
}

.sub-heading h2 {
  font-weight: 600;
  font-size: 1.125rem;
  color: #301534;
  transition: color 0.25s;
}

.sub-heading h2:hover {
  color: #ad28eb;
}

.faq-question {
  margin-top: 2rem;
}

.answer {
  color: rgb(139, 105, 144);
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.5s;
}

/* Toggle Answer Visibility */
.show-answer {
  max-height: 6rem;
}

/* Media Query */
@media screen and (max-width: 41.5rem) {
  .main-heading h1 {
    font-size: 2rem;
  }

  .main-heading img {
    width: 1.25rem;
  }

  .sub-heading h2 {
    font-size: 1rem;
  }

  .faq-question p {
    font-size: 0.875rem;
  }

  .show-answer {
    max-height: 4rem;
  }
}
